.App {
  display: grid;
  grid-template-areas:
    "header header"
    "side-bar main-section"
    "footer footer";
  /* width: 100vw; */
  height: 100vh;
  grid-template-rows: 10% 80%;
  grid-template-columns: 15%;
  color: #3cb451;
}
a.active{
  color: #3cb451;

}
.header {
  grid-area: header;
  border: 1px black solid;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-around;
}
#main-section {
  grid-area: main-section;
  border: 1px rgb(240, 17, 17) solid;
}
.side-bar {
  grid-area: side-bar;
  border: 1px rgb(12, 16, 250) solid;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
  overflow: scroll;
}
.footer {
  grid-area: footer;
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  justify-content: flex-start;
  align-items: baseline;
}
