@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Hebrew:wght@710&display=swap");
:root {
  --main-color: #090e1b;
  --dark-theme: #10194a;
  --dark-btn: #020518;
  --light-btn: #f5f5f5;
  --light-theme: #f5f5f5;
  --dark-text: #10194a;
  --light-text: #f5f5f5;
  --dark-text-hover: #020518;
  --light-text-hover: #10194a;
  --dark-text-active: #020518;
  --light-text-active: #10194a;
}

body {
  direction: rtl;
  font-family: "Noto Sans Hebrew", sans-serif;
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont,"Karantina", 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--dark-text);
  background: var(--light-theme);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
body.dark-theme {
  color: var(--light-text);
  background: var(--main-color);
}
body.dark-theme a {
  color: var(--dark-text-hover);
}
